@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Bebas+Neue&family=Inter:wght@200;400;600;800&family=Montserrat:wght@200;400;600;800&display=swap");
@import "./variables/variables.scss";
@import "./header/header.scss";
@import "./clock/clock.scss";
@import "./stopwatch/stopwatch.scss";
@import "./timer/timer.scss";
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontInter;
  text-decoration: none;
  overflow-x: hidden;
  &.dark {
    background: $themeBlack;
    color: white;
  }
}
body {
  background: $themeWhite;
}
